# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [48]:
import pandas as pd
import numpy as np

# Seu código aqui
alteracao_temperatura = {1900:-0.08, 
                         1920:-0.27, 
                         1940:0.12, 
                         1960:-0.03, 
                         1980:0.26,
                         2000:0.40,
                         2020:1.02}
alteracao_temperaturaSeries = pd.Series(alteracao_temperatura)
alteracao_temperaturaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [49]:

# seu código aqui
alteracao_temperaturaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [50]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturasSeries = pd.Series(dic_temperaturas)
dic_temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [51]:
arr = np.random.normal(100, 10, (20,3))
arr
# seu código aqui
arrSeries = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
arrSeries

            x1          x2          x3
0   103.524674   97.918711   99.011439
1    87.072468  104.481198  113.198356
2    86.892648  104.691667   82.741915
3   102.231282  115.258044   85.700503
4    96.572004  109.735156   83.474897
5    95.818420  110.051389   99.960642
6   103.703051   94.590452  122.437014
7   102.241987  100.965925   98.601445
8   108.624887  104.730013   94.385542
9   100.244022  107.814044   87.525484
10   82.047839  100.212191   92.058117
11   94.147113  124.631772  103.863478
12  112.318749   88.322078   96.974603
13  107.216681  106.710377  107.679337
14   98.056124  103.054174   95.963264
15  111.501323   84.383983   88.315679
16   94.821008   92.679115   78.764889
17   77.707711  117.733658   92.954803
18   78.078302  105.252361   96.848175
19  109.874180  104.946411   76.584841

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [52]:
# seu código aqui
arrComIndexSeries['media'] = (arrComIndexSeries['x1'] + arrComIndexSeries['x2'] + arrComIndexSeries['x3'])/3
arrComIndexSeries

            x1          x2          x3       media   log_med
1    96.859848  114.421590  107.350321  106.210586  4.665424
2   100.028927   97.438486  114.746149  104.071187  4.645075
3    98.651598   91.314816   88.382767   92.783060  4.530264
4   106.691385  100.046215   92.010770   99.582790  4.600989
5    88.099080   88.875548   92.294854   89.756494  4.497100
6   123.467508   87.410868  107.267173  106.048517  4.663897
7    95.232764  122.259159   75.322110   97.604678  4.580925
8    96.516526  107.176207  100.700533  101.464422  4.619708
9   109.160518  105.307772   99.071088  104.513126  4.649313
10  100.301370  104.938478  106.198323  103.812724  4.642589
11  109.921308  101.843075   96.091770  102.618718  4.631020
12  106.808837  108.387240   98.484265  104.560114  4.649762
13   97.252652   95.814732  104.768090   99.278491  4.597929
14  100.668206  102.744014  114.896240  106.102820  4.664409
15   99.590452   98.367114   86.638863   94.865476  4.552460
16  101.177283  106.667903   91.101330   99.648838  4.601652
17  101.144511  118.557247  114.597549  111.433102  4.713424
18   92.658060   82.786370  112.546599   95.997010  4.564317
19   96.724190  117.808907  117.482593  110.671897  4.706570
20  113.194985  115.175019   97.569944  108.646649  4.688101

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [ ]:
# seu código aqui
arrComIndexSeries["log_med"] = np.log(arrComIndexSeries["media"]) 
arrComIndexSeries

            x1          x2          x3       media   log_med
1    96.859848  114.421590  107.350321  106.210586  4.665424
2   100.028927   97.438486  114.746149  104.071187  4.645075
3    98.651598   91.314816   88.382767   92.783060  4.530264
4   106.691385  100.046215   92.010770   99.582790  4.600989
5    88.099080   88.875548   92.294854   89.756494  4.497100
6   123.467508   87.410868  107.267173  106.048517  4.663897
7    95.232764  122.259159   75.322110   97.604678  4.580925
8    96.516526  107.176207  100.700533  101.464422  4.619708
9   109.160518  105.307772   99.071088  104.513126  4.649313
10  100.301370  104.938478  106.198323  103.812724  4.642589
11  109.921308  101.843075   96.091770  102.618718  4.631020
12  106.808837  108.387240   98.484265  104.560114  4.649762
13   97.252652   95.814732  104.768090   99.278491  4.597929
14  100.668206  102.744014  114.896240  106.102820  4.664409
15   99.590452   98.367114   86.638863   94.865476  4.552460
16  101.177283  106.667903   91.101330   99.648838  4.601652
17  101.144511  118.557247  114.597549  111.433102  4.713424
18   92.658060   82.786370  112.546599   95.997010  4.564317
19   96.724190  117.808907  117.482593  110.671897  4.706570
20  113.194985  115.175019   97.569944  108.646649  4.688101